@import url("https://fonts.googleapis.com/css?family=Open+Sans:300");

.rewardPoint-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.rewardPoint-container {
  padding: 15px;
  height: 100vh;
}

.rewardPoint-title {
  font-family: "Open Sans", serif !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 22px !important;
  line-height: 32px !important;
  letter-spacing: 0.2px !important;
  color: #0d0d0d !important;
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

.rewardPoint-card {
  background-color: #312a91 !important;
  padding: 20px;
  margin-bottom: 40px;
}

.rewardPoint-card-label {
  font-family: "Open Sans", serif !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 18px !important;
  letter-spacing: 0.4px !important;
  color: #ffffff !important;
  margin-bottom: 10px !important;
}

.rewardPoint-card-value {
  font-family: "Open Sans", serif !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 20px !important;
  line-height: 22px !important;
  letter-spacing: 0.4px !important;
  color: #ffffff !important;
}

.rewardPoint-contents-description {
  color: white !important;
  font-size: 14px !important;
  margin-bottom: 10px;
}

.rewardPoint-contents-title {
  color: #f6ff75 !important;
}

.rewardPoint-contents-image {
  width: 80px;
  margin-bottom: 15px;
}

.rewardPoint-transaction {
  margin-bottom: 20px;
}

.rewardPoint-transaction-date {
  font-family: "Open Sans", serif !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 12px !important;
  line-height: 17px !important;
  letter-spacing: 0.2px !important;
  color: #86868d !important;
  margin-bottom: 20px !important;
}

.rewardPoint-transaction-title {
  font-family: "Open Sans", serif !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 16px !important;
  line-height: 16px !important;
  letter-spacing: 0.4px !important;
  color: #0d0d0d !important;
}

.rewardPoint-transaction-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.rewardPoint-transaction-desc {
  font-family: "Open Sans", serif !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 18px !important;
  letter-spacing: 0.4px !important;
  color: #8a8a8a !important;
}

.rewardPoint-transaction-view-btn {
  font-family: "Open Sans", serif !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  line-height: 17px !important;
  color: #312a91 !important;
}

.rewardPoint-transaction-data {
  margin-top: 15px;
}

.rewardPoint-transaction-data-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 1px solid #f0f0f0; */
}

.rewardPoint-transaction-data-values {
  display: flex;
  align-items: center;
}

.rewardPoint-transaction-data-values-points {
  margin-left: 15px;
}

.rewardPoint-transaction-data-values-points-title {
  font-family: "Open Sans", serif !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  line-height: 17px !important;
  color: #86868d !important;
  margin-bottom: 8px !important;
}

.rewardPoint-transaction-data-values-points-value {
  font-family: "Open Sans", serif !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 18px !important;
  line-height: 19px !important;
  letter-spacing: 1px !important;
  color: #2b2b30 !important;
}

.rewardPoint-transaction-data-values-status-pending {
  color: #f2b631 !important;
}

.rewardPoint-transaction-data-values-status-approved {
  color: #4fcc5c !important;
}
