.edit_container {
  margin-left: 8px;
}

.offer_form_wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  margin: auto;
  justify-content: space-between;
}
.textInput {
  width: 100%;
}

.offer_form_wrapper > .ra-input {
  justify-content: center;
  display: flex;
}
