.search_form {
  width: 450px;
}

.list_wapper {
  /* margin-top:20px; */
  margin-left: 8px;
}
.List_header {
  margin-top: 40px !important ;
  margin-bottom: 20px;
  color: rgb(105, 97, 97);
  font-weight: 500 !important;
}

.empty_text {
  color: rgb(105, 97, 97);
  text-align: center;
  padding: 60px;
}
