.terms-card {
  padding: 20px 10%;
  background: #ced3d67a;
}

.termsWrapper {
  background: #fff;
  margin: 15px 10px;
  padding: 20px;
  min-height: 100vh;
  border-radius: 8px;
  font-family: "Lato", sans-serif;
  padding-bottom: 35px;
}

.heading {
  padding: 10px 0px;
  margin: 0px;
  font-weight: 600;
  font-size: 1.2em;
  margin-bottom: 14px;
}

.headingColor {
  color: rgb(128, 125, 125);
}
.contentColor {
  color: #666666;
}

.contentWrapper {
  margin-bottom: 7px;
}

strong {
  color: #6e6c6c;
}

.contentHead {
  margin: 0;
  color: #807e7e;
  font-size: 16px;
  margin-bottom: 7px;
  margin-top: 15px;
  display: block;
  font-weight: bold;
}
.sub-header {
  margin: 10px 0px !important;
}

.terms_content {
  font-size: 12px;
  margin: 0;
  margin-bottom: 7px;
}

ol {
  color: #666666;
  font-size: 12px;

  padding-left: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
}
li {
  margin-bottom: 5px;
}

a {
  text-decoration: none;
  color: #00269a;
}

.contentWrapper > ol > li {
  padding-top: 5px;
}

.scroll_button {
  display: none;
  background-color: #312a91;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  outline: none;
  width: 50px;
  height: 50px;
  z-index: 8;
  position: fixed;
  opacity: 0;
  top: 90vh !important;
  right: 20px;
}

.show {
  display: block;
  opacity: 1;
}
.scroll_up {
  background-color: #312a91;
  font-size: 42px !important;
  color: #fff;
  border-radius: 50%;
}

@media screen and (max-width: 750px) {
  .contentHead {
    font-size: 16px;
  }

  .terms-card {
    padding: 10px;
  }
}
