.card_container{
    border-radius: 12px !important;
    padding:35px 30px !important;
    margin:30px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.White_text{
    color:#fff
}
.bold{
    font-weight: 600 !important;
}