/* .appbar{
    padding-left:30px !important;
}
*/
.appbar button {
    margin-right: 0.2em;
    outline: none;

    
}
.appbar ~ .appbar button {
    display: inline-block;
}


.appbar button .RaSidebarToggleButton-menuButtonIconOpen {
    font-size: 2rem !important;

}
.appbar button .RaSidebarToggleButton-menuButtonIconClosed{
    font-size: 2rem !important;
} 



.logo_container{
    display:flex;
    align-items:flex-end;
    flex: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight:bold

 

}

.RaAppBar-toolbar .RaSidebarToggleButton-root{
    display:none
}